.tracks-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 8vw;
    grid-row-gap: 1rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    height: 84vh;
    overflow-y: scroll;
}
.landing-container{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93vh;

}
.tracks-list{
    display: flex;
    flex-direction: column;
    padding: 2rem 8vw;
    height: 84vh;
    overflow-y: scroll;
}